<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Funami_AdminMenu::fm_ad_menu" sortOrder="10" title="fm ad menu">
					<resource id="Funami_AdminMenu::index_index" sortOrder="10" title="index index"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
