<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Funami::top_level" module="Funami_AdminMenu" resource="Magento_Backend::content" sortOrder="9999" title="Funami"/>
		<add action="fm_ad_menu/index/index" id="Funami_AdminMenu::index_index" module="Funami_AdminMenu" parent="Funami::top_level" resource="Funami_AdminMenu::index_index" sortOrder="9999" title="index index"/>
	</menu>
	
</config>
